body {
    background-color: #d08585;
    margin: 0;
    padding: 0;
}

.Big{
    position: absolute;
    top:50%;
    left: 50%;
}
.rer {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
}
.ball {
    animation: transform 2s infinite;
}
.ball2 {
    animation: transform1 2s infinite;
}

@keyframes transform {
    0% {
        transform: translateX(0px);
        border-radius: 50%;
        background-color: white;
    }
        50% {
        transform: translateX(50px);
        border-radius: 40%;
        background-color: #ffe59e;
    }
        100% {
        transform: translateX(0px);
        border-radius: 50%;
        background-color: white;
    }
}

@keyframes transform1 {
    0% {
        transform: translateX(0px);
        border-radius: 50%;
        background-color: white;
    }
        50% {
        transform: translateX(-50px);
        border-radius: 40%;
        background-color: #ffe59e;
    }
        100% {
        transform: translateX(0px);
        border-radius: 50%;
        background-color: white;
    }
}